<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Work_brench">


  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.879078759861301 -0.296910692255646 0.623132296090527"
        rpy="0 0 0" />
      <mass
        value="46.5477954651893" />
      <inertia
        ixx="1.46325034528791"
        ixy="-3.64979886637843E-10"
        ixz="1.32915754316342E-09"
        iyy="9.22258646477571"
        iyz="-8.98790096127656E-09"
        izz="10.0474153410915" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Work_brench/meshes/base_link.STL" />
      </geometry>
 
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Work_brench/meshes/base_link.STL" />
      </geometry>
  <surface>
  <contact>
    <ode>
      <min_depth>0.001</min_depth>
    </ode>
  </contact>
  <friction>
    <ode>
       <mu>10000</mu>
       <mu2>10000</mu2>
    </ode>
  </friction>
</surface>
    </collision>
  </link>

<gazebo>
    <static>true</static>
</gazebo>


<gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
</gazebo>


</robot>
